.mrn-c-contact-section {
    color: rgb(53, 53, 53);
}

/* Headings */
.mrn-c-contact-section h1 {
    font-weight: 600;
    color: black;
}

.mrn-c-contact-section h5 {
    font-weight: 500;
    font-size: 1.25rem;
    color: black;
}

/* Paragraph text */
.mrn-c-contact-section p {
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Lora', serif;
}

.mrn-l-contact-subtext{
    margin-bottom: 2.6rem;
}

/* Email Link */
.mrn-c-contact-section a:hover {
    text-decoration: underline;
}

/* Order Now Button */
.mrn-c-order-button a{
    border: none;
    background-color: var(--mrn-yellow-main);
    transition: background-color 0.6s ease;
}

.mrn-c-order-button a:hover {
    background-color: var(--mrn-dark-yellow-main);
    text-decoration: none;
}

/* Contact Icons */
.mrn-l-contact-icons{
    display:flex;
    align-items: center;
}

/* Contact info center */
@media (max-width: 768px) {
    .mrn-l-contact-col {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .mrn-l-contact-icons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


