<div class="container-fluid col-xxl-8 mt-5 mrn-c-footer--desktop">
  <img src="./img/newmorenalogo.png" alt="Restaurant Morena Logo" class="mrn-c-footer-logo">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xxl-4 pb-5 mb-5 mrn-c-footer__row">
    <div class="col px-4 mt-3 mrn-c-footer__column">
      <h5 class="mrn-c-footer__heading" data-i18n="footer.navigation">
        Navigation
      </h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 mrn-c-footer__nav-item">
          <a href="/" data-i18n="footer.home" class="mrn-c-footer__link">
            Home
          </a>
          <i class="bi bi-house"></i>
        </li>
        <li class="nav-item mb-2 mrn-c-footer__nav-item">
          <a href="menu.html" data-i18n="footer.menu" class="mrn-c-footer__link">
            Menu
          </a>
          <i class="fas fa-utensils"></i>
        </li>
        <li class="nav-item mb-2 mrn-c-footer__nav-item">
          <a href="https://www.ubereats.com/ca/store/morena-restaurant-%26-catering-services/mk1ZZBBKSxG84zLWjgnxWA" target="_blank" data-i18n="footer.order" class="mrn-c-footer__link">
            Order
          </a>
          <i class="bi bi-cart"></i>
        </li>
        <li class="nav-item mb-2 mrn-c-footer__nav-item">
          <a href="about.html" data-i18n="footer.about" class="mrn-c-footer__link">
            About
          </a>
          <i class="bi bi-info-circle"></i>
        </li>
        <li class="nav-item mb-2 mrn-c-footer__nav-item">
          <a href="contact.html" data-i18n="footer.contact" class="mrn-c-footer__link">
            Contact
          </a>
          <i class="bi bi-chat"></i>
        </li>
      </ul>
    </div>
    <div class="col px-4 mt-3 mrn-c-footer__column">
      <h5 class="mrn-c-footer__heading" data-i18n="footer.opening.hours">
        Opening Hours
      </h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.monday">
          Monday: 7AM-8PM
        </li>
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.tuesday">
          Tuesday: 7AM-8PM
        </li>
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.wednesday">
          Wednesday: 7AM-8PM
        </li>
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.thursday">
          Thursday: 7AM-8PM
        </li>
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.friday">
          Friday: 7AM-8PM
        </li>
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.saturday">
          Saturday: 7AM-8PM
        </li>
        <li class="nav-item mb-2 mrn-c-footer__text" data-i18n="footer.opening.sunday">
          Sunday: 7AM-8PM
        </li>
      </ul>
    </div>
    <div class="col px-4 mt-3 mrn-c-footer__column">
      <h5 class="mrn-c-footer__heading" data-i18n="footer.location">
        Location
      </h5>
      <p class="mrn-c-footer__text" data-i18n="footer.address">
        6459 Victoria Ave <br>
        Montreal, QC, H3W 2S9
      </p>
    </div>
    <div class="col px-4 mt-3 mrn-c-footer__column">
      <h5 class="mrn-c-footer__heading" data-i18n="footer.contact">
        Contact
      </h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2 mrn-c-footer__icon-text">
          <i class="bi bi-telephone-fill"></i>
          <span class="mrn-c-footer__text">
            (514) 804-4953
          </span>
        </li>
        <li class="nav-item mb-2 mrn-c-footer__icon-text">
          <i class="bi bi-envelope-fill"></i>
          <span class="mrn-c-footer__text">
            morenarestaurant@hotmail.com
          </span>
        </li>
        <li class="nav-item mb-2 mrn-c-footer__icon-text">
          <i class="bi bi-facebook fs-5"></i>
          <a class="mrn-c-footer__link--contact" href="https://www.facebook.com/p/Morena-Restaurant-Catering-Services-100069363169428/" target="_blank" data-i18n="footer.restaurant.name">
            Morena Restaurant & Catering Services
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid col-xxl-8 my-5 px-0 mrn-c-footer--mobile">
  <img src="./img/newmorenalogo.png" alt="Restaurant Morena Logo" class="mrn-c-footer-logo px-3">
  <div class="accordion accordion-flush">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <h5 class="mrn-c-footer__heading mrn-c-footer__heading--mobile" data-i18n="footer.navigation">
            Navigation
          </h5>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <ul class="nav flex-column">
            <li class="nav-item mb-2 mrn-c-footer__nav-item">
              <a href="/" data-i18n="footer.home" class="mrn-c-footer__link mrn-c-footer__link--mobile">
                Home
              </a>
              <i class="bi bi-house"></i>
            </li>
            <li class="nav-item mb-2 mrn-c-footer__nav-item">
              <a href="menu.html" data-i18n="footer.menu" class="mrn-c-footer__link mrn-c-footer__link--mobile">
                Menu
              </a>
              <i class="fas fa-utensils"></i>
            </li>
            <li class="nav-item mb-2 mrn-c-footer__nav-item">
              <a href="https://www.ubereats.com/ca/store/morena-restaurant-%26-catering-services/mk1ZZBBKSxG84zLWjgnxWA" target="_blank" data-i18n="footer.order"
                class="mrn-c-footer__link mrn-c-footer__link--mobile">
                Order
              </a>
              <i class="bi bi-cart"></i>
            </li>
            <li class="nav-item mb-2 mrn-c-footer__nav-item">
              <a href="about.html" data-i18n="footer.about" class="mrn-c-footer__link mrn-c-footer__link--mobile">
                About
              </a>
              <i class="bi bi-info-circle"></i>
            </li>
            <li class="nav-item mb-2 mrn-c-footer__nav-item">
              <a href="contact.html" data-i18n="footer.contact" class="mrn-c-footer__link mrn-c-footer__link--mobile">
                Contact
              </a>
              <i class="bi bi-chat"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h5 class="mrn-c-footer__heading mrn-c-footer__heading--mobile" data-i18n="footer.opening.hours">
            Opening Hours
          </h5>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <ul class="nav flex-column">
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.monday">
              Monday: 7AM-8PM
            </li>
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.tuesday">
              Tuesday: 7AM-8PM
            </li>
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.wednesday">
              Wednesday: 7AM-8PM
            </li>
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.thursday">
              Thursday: 7AM-8PM
            </li>
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.friday">
              Friday: 7AM-8PM
            </li>
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.saturday">
              Saturday: 7AM-8PM
            </li>
            <li class="nav-item mb-2 mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.opening.sunday">
              Sunday: 7AM-8PM
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <h5 class="mrn-c-footer__heading mrn-c-footer__heading--mobile" data-i18n="footer.location">
            Location
          </h5>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p class="mrn-c-footer__text mrn-c-footer__text--mobile" data-i18n="footer.address">
            6459 Victoria Ave <br>
            Montreal, QC, H3W 2S9
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          <h5 class="mrn-c-footer__heading mrn-c-footer__heading--mobile" data-i18n="footer.contact">
            Contact
          </h5>
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
          <ul class="nav flex-column mrn-c-footer__contact-container">
            <li class="nav-item mb-2 mrn-c-footer__icon-text">
              <i class="bi bi-telephone-fill"></i>
              <span class="mrn-c-footer__text mrn-c-footer__text--mobile">
                (514) 804-4953
              </span>
            </li>
            <li class="nav-item mb-2 mrn-c-footer__icon-text">
              <i class="bi bi-envelope-fill"></i>
              <span class="mrn-c-footer__text mrn-c-footer__text--mobile">
                morenarestaurant@hotmail.com
              </span>
            </li>
            <li class="nav-item mb-2 mrn-c-footer__icon-text">
              <i class="bi bi-facebook fs-5"></i>
              <a class="mrn-c-footer__link--contact mrn-c-footer__text--mobile" href="https://www.facebook.com/p/Morena-Restaurant-Catering-Services-100069363169428/" target="_blank"
                data-i18n="footer.restaurant.name">
                Morena Restaurant & Catering Services
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>