<nav class="mrn-c-nav">
  <div class="mrn-c-nav__secondary-menu">
    <div class="mrn-c-secondary-menu__button">
      <button class="mrn-c-nav__btn mrn-c--nav__btn--hamburger" id="mrn-c-btn--hamburger">
    </div>
    <div class="mrn-c-nav__logo--mobile">
      <img src="./../img/newmorenalogo.png" alt="Logo">
    </div>
    <div class="mrn-c-nav__language-selector mrn-c-secondary-menu__language-select">
      <select class="mrn-c-nav__language-select" id="mrn-c-nav__language-select">
        <option class="mrn-c-nav__language-option" value="en">English</option>
        <option class="mrn-c-nav__language-option" value="fr">Français</option>
        <option class="mrn-c-nav__language-option" value="tl">Tagalog</option>
      </select>
    </div>
  </div>
  <div class="mrn-c-nav__section mrn-c-nav__section--left">
    <li class="mrn-c-nav__item">
      <a href="/" class="mrn-c-nav__link" data-i18n="nav.home">HOME</a>
    </li>
    <li class="mrn-c-nav__item">
      <a href="menu.html" class="mrn-c-nav__link" data-i18n="nav.menu">MENU</a>
    </li>
    <li class="mrn-c-nav__item">
      <a href="https://www.ubereats.com/ca/store/morena-restaurant-%26-catering-services/mk1ZZBBKSxG84zLWjgnxWA" target="_blank" class="mrn-c-nav__link" data-i18n="nav.order">ORDER</a>
    </li>
  </div>
  <div class="mrn-c-nav__ghost-container">
  </div>
  <div class="mrn-c-nav__logo">
    <img src="./../img/newmorenalogo.png" alt="Logo">
  </div>
  <div class="mrn-c-nav__section mrn-c-nav__section--right mrn-c-nav__section--right-mobile">
    <li class="mrn-c-nav__item mrn-c-nav__item--right-mobile">
      <a href="/" class="mrn-c-nav__link" data-i18n="nav.home">HOME</a>
    </li>
    <li class="mrn-c-nav__item mrn-c-nav__item--right-mobile">
      <a href="menu.html" class="mrn-c-nav__link" data-i18n="nav.menu">MENU</a>
    </li>
    <li class="mrn-c-nav__item mrn-c-nav__item--right-mobile">
      <a href="https://www.ubereats.com/ca/store/morena-restaurant-%26-catering-services/mk1ZZBBKSxG84zLWjgnxWA" target="_blank" class="mrn-c-nav__link" data-i18n="nav.order">ORDER</a>
    </li>

    <li class="mrn-c-nav__item">
      <a href="about.html" class="mrn-c-nav__link" data-i18n="nav.about">ABOUT</a>
    </li>
    <li class="mrn-c-nav__item">
      <a href="contact.html" class="mrn-c-nav__link" data-i18n="nav.contact">CONTACT</a>
    </li>
    <li class="mrn-c-nav__item mrn-c-nav__item--language-dropdown">
      <div class="mrn-c-nav__language-selector">
        <select class="mrn-c-nav__language-select" id="mrn-c-nav__language-select">
          <option class="mrn-c-nav__language-option" value="en">English</option>
          <option class="mrn-c-nav__language-option" value="fr">Français</option>
          <option class="mrn-c-nav__language-option" value="tl">Tagalog</option>
        </select>
      </div>
    </li>
  </div>
</nav>